body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
  background-color: #333;
  color: blanchedalmond;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article {
  display: flex;
}
.inpuFields {
  width: 30vw;
}
.inputBtn {
}
h1 {
  padding-left: 15px;
  font-family: sans-serif;
  text-align: center;
}
form {
  padding-left: 15px;
}
input {
  background-color: #333;
  color: #ffc;
  font-size: 20px;
  height: 30px;
  border: 1px solid #ffc;
  margin-right: 5px;
}
button {
  background-color: #333;
  border: 1px solid #ffc;
  color: #ffc;
  padding: 5px;
  font-size: 20px;
  border-radius: 5%;
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.listLables {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.checkbox {
  cursor: pointer;
}
ol,
ul {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffc;
  /* height: 30vh; */
  min-height: 50px;
  /* width: 800px; */
  padding-left: 25px;
  padding-right: 10px;
  margin-left: 15px;
  font-family: sans-serif;
}
.list-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  /* padding: 5px; */
}
.list-item-text {
  flex-grow: 1;
  font-family: sans-serif;
}
#userList,
#savedUlList {
  width: 70vw;
  margin-left: 15px;
  list-style-type: disc;
}
@media screen and (min-width: 380px) {
  #userList,
  #savedUlList {
    width: 300px;
    margin-left: 15px;
    list-style-type: disc;
  }
}
